/* -----------------
    Google font
--------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container1{
    width: 1200px;
    margin: 0 auto;
}
h1{
    font-size: 55px;
    line-height: 1.2;
    margin-top: 0;
}
p{
    font-weight: 300;
    margin-bottom: 30px;
}

/* container1 design stats here */

.banner_container{
    background-color: #161616;
    width: 85%;
    height: 600px;
    border-radius: 25px;
    margin: 0 auto;
    align-items: center;
    margin-top: 40px;
    transition: background-color 3s ease-out;
}
.banner_container:hover{
    background-color: rgb(18, 94, 94);
}
.banner{
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.banner-info{
    color: white;
    padding-left: 50px;
    width: 500px;
}
.banner_container a{
    text-decoration: none;
    color: white;
}
.banner-image img{
    width: 522px;
    padding-left: 70px;
    padding-right: 30px;
}
.banner_btn{
    background-color: #DD0000;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    margin: 1.5rem 0;
}
/* -----------------------------------
        Content-container section
-------------------------------------- */
.content-container{
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}
.content{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-right: 90px;
}
.side-box{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 1rem;
    border-radius: 8px;
    width: 500px;
    height: 250px;
    margin-right: 20px;
    margin-left: 90px;
}
.nav-btn{
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 1rem 1rem;
}
.selected{
    background-color: #DD0000;
    color: white;
}
.nav-btn:hover{
    background-color: #DD0000;
}
.nav-btn a{
    text-decoration: none;
    color: black;
    font-size: 20px;  
    font-weight: 500; 
}
.image img{
    width: 100%;
}
.blog-btn{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 15px;
}
.blog{
    border: 1px solid rgba(0, 0, 0, 0.147);
    border-radius: 18px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.blog-details h4{
    padding-top: 1rem;
}
.blog-details{
    padding: 1rem;
}
.blog-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}
.left, .middle{
    display: flex;
}
.icon-info{
    padding-left: 5px;
}

.view-button{
    display: flex;
    justify-content: center;
    display: none;
}
.view-button .btn a{
    text-decoration: none;
    color: white;
    padding: 0 20px;

}
/* ---------------------------
    footer
------------------------------ */
.footer-container{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}
h3{
    font-size: 2rem;
}

footer{
    background-color: #161616;
    height: 350px;
    text-align: center;
    color: white;
    margin-top: 5rem;
}
hr{
    margin: 50px;
    color: #161616;
}
.footer-info a{
    text-decoration: none;
    color: white;
    margin: 0 1.5rem;
    font-weight: 300;
}
.fa-brands{
    color: aliceblue;
    margin-left: 15px;
    font-size: 20px;
    margin-top: 50px;
}

/* Upcoming */
.match-blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.match-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.147);
    border-radius: 15px;
    padding: 2rem 1rem;
}
.flag{
    display: flex;
    align-items: center;
}
.flag img{
  margin: 5px;  
}
.match-info{
    text-align: center;
}

/* ----------------------
 Small screen media query
 -------------------------- */

@media only screen and (max-width:688px) {
    .container{
        padding: 0 20px;
    }
    .banner_container{
        display: flex;
        flex-direction: column;
        height: 1477px;
        margin-bottom: 60px;
        padding: 40px;
    }

    .banner{
        padding: 80px 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .banner-info{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .banner-info h1{
        font-size: 76px;
    }
    .banner-info p{
        font-size: 20px;
        padding: 2rem 0;
    }
    .banner_btn{
        font-size: 40px;
        padding: 20px 30px;
    }
    .nav-btn{
        border: 1px solid rgba(0, 0, 0, 0.139);
    }
    .nav-btn a{
        font-size: 30px;
        padding: 30 40px;
    }
    .banner-image img{
        width: 663px;
        margin-left: 130px;
        margin-top: 126px;
    }
    .side-box{
        display: grid;
        grid-template-rows: repeat(3,1fr);
        width: 100%;
        height: 400px;
        margin:0;
        padding: 0;
        justify-content: space-around;
        align-items: center;
        background-color: white;
    }
    .blogs{
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        gap: 1rem;
    }
    .blog-details{
        padding: 1.5rem;
    }
    .blog-footer{
        font-size: 30px;
    }
    .blog-header h4{
        font-size: 30px;
    }
   
    .content-menu{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .content_container{
        display: grid;  
        grid-template-rows:585px auto;
        grid-template-columns: 1fr;
        padding: 40px;
    }
    .match-blog{
        font-size: 50px;
    }
    footer{
        width: 700px;
        margin-bottom: 0;
        padding-bottom: 180px;
    }
    .footer-container{
        height: 400px;  
        padding-top: 50px;
        
    }
    .footer-info{
        display: flex;
        flex-direction: column;
        gap: .4rem;
        padding-left: 0; 
        margin-left: 0;
    }
}


/* ----------------------------------------
        medium media query
------------------------------------------- */
@media screen and (min-width:688px) and (max-width:992){
    .banner_container{
        width: 100%;
        height: 700px;
        background: #161616;
        border-radius: 25px;
        align-items: center;
        margin: 0 auto;
        margin-top: 50px;
    }
    .banner{
        display: flex;
        align-items: center;
        color: white;
        justify-content: center;
        align-items: flex-start;
        
    }
    .banner-info{
        width: 500px;
        padding-left: 40px;
    }
    .banner-image img{
        width: 505px;
        padding-left: 10px;
        padding-right: 15px;
    }
    .banner-info h1{
        font-size: 35px;
        margin: 0;
    }
    .banner-info p{
        font-size: 12px;
        padding-bottom: 20px;
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
    .side-box{
        display: grid;
        grid-template-rows: repeat(3,1fr);
        width: 100%;
        height: 500px;
        margin:0;
        padding: 0;
        justify-content: space-around;
        align-items: center;
        background-color: white;
    }
    .side-box .nav-btn{
        border: 1px solid rgba(0, 0, 0, 0.099);
    }
    .nav-btn a{
        padding: 0 2rem;
    }
    .content_container{
        display: grid;
        padding: 0 2rem;
    }
    .content-menu{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .view-button .btn{
        visibility: visible;
    }
    footer{
        width: 1000px;
    }
    .footer-info{
        display: flex;
        flex-wrap: wrap;
    }
}


























